<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>homecot</servlet-name>
        <servlet-class>Controller.homecot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Daohomecate</servlet-name>
        <servlet-class>DAL.Daohomecate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homecategory</servlet-name>
        <servlet-class>Controller.homecategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryControl</servlet-name>
        <servlet-class>Controller.categoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchControl</servlet-name>
        <servlet-class>Controller.searchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>touristControl</servlet-name>
        <servlet-class>Controller.touristControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>Controller.Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userControl</servlet-name>
        <servlet-class>Controller.userControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminControl</servlet-name>
        <servlet-class>Controller.adminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addproductControl</servlet-name>
        <servlet-class>Controller.addproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inforControl</servlet-name>
        <servlet-class>Controller.inforControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmControl</servlet-name>
        <servlet-class>Controller.confirmControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartDao</servlet-name>
        <servlet-class>DAL.cartDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartControl</servlet-name>
        <servlet-class>Controller.cartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>Controller.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>managerOrders</servlet-name>
        <servlet-class>Controller.managerOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtoCartcontrol</servlet-name>
        <servlet-class>Controller.addtoCartcontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlProcess</servlet-name>
        <servlet-class>Controller.controlProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buycontrol</servlet-name>
        <servlet-class>Controller.buycontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin2product</servlet-name>
        <servlet-class>Controller.admin2product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateproduct</servlet-name>
        <servlet-class>Controller.updateproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fogottpascol</servlet-name>
        <servlet-class>Controller.fogottpascol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historyoder</servlet-name>
        <servlet-class>Controller.historyoder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homecot</servlet-name>
        <url-pattern>/homecot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Daohomecate</servlet-name>
        <url-pattern>/daohomecate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homecategory</servlet-name>
        <url-pattern>/homecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryControl</servlet-name>
        <url-pattern>/categorycontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchControl</servlet-name>
        <url-pattern>/searchControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>touristControl</servlet-name>
        <url-pattern>/touristcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/loginco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userControl</servlet-name>
        <url-pattern>/usercontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminControl</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addproductControl</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inforControl</servlet-name>
        <url-pattern>/inforcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmControl</servlet-name>
        <url-pattern>/confirmcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartDao</servlet-name>
        <url-pattern>/cartdao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartControl</servlet-name>
        <url-pattern>/cartcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/paymentcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>managerOrders</servlet-name>
        <url-pattern>/managerorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtoCartcontrol</servlet-name>
        <url-pattern>/addtocartcontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlProcess</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buycontrol</servlet-name>
        <url-pattern>/buycontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin2product</servlet-name>
        <url-pattern>/admin2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateproduct</servlet-name>
        <url-pattern>/updatepro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fogottpascol</servlet-name>
        <url-pattern>/fogot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historyoder</servlet-name>
        <url-pattern>/historyoder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
